input {
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}
.otp-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.otp-inputs {
  display: flex;
  justify-content: center;
}
